In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("/content/preprocessed_data.csv")

In [ ]:
data.head()

,customerid,entity,name,surname,birthdate,sex,country,state,purpose,deal_satisfaction,mortgage,source,building,datesale,type,property,area,price,status
0,1,0,Kamd,Co,1986-06-21,0,7,1,1,5,0,0,1,2004-03-01,1,5,410.71,"$117,564.07",0
1,2,1,Jack,Anderson,1947-02-13,2,7,1,1,5,1,2,1,2004-03-01,1,2,1238.58,"$410,932.67",0
2,3,1,Avah,Huang,1948-04-23,1,7,1,0,5,0,2,1,2004-06-01,0,44,827.87,"$229,464.71",0
3,4,1,Nora,Lynch,1948-04-23,1,7,1,0,5,0,2,1,2004-06-01,0,43,1160.36,"$377,313.56",0
4,5,1,Rodolfo,Gibson,1937-01-20,2,7,4,0,2,1,2,1,2004-08-01,0,33,1434.09,"$412,856.56",0

1 - Breakdown by Building

In [ ]:
# Identify unique building types
building_types = data['building'].unique()

In [ ]:
print(building_types)

[1 2 3 4 5]

In [ ]:
# Select columns of interest
totals_columns = ['building', 'price', 'mortgage']

In [ ]:
# Create totals DataFrame
totals_df = data[totals_columns]

In [ ]:
# Group totals by building type and aggregate
totals_by_building = totals_df.groupby('building').sum()

In [ ]:
totals_avg = ['building','area','price','deal_satisfaction']

In [ ]:
totals_avg_df = data[totals_avg]

In [ ]:
totals_avg_df['price'] = totals_avg_df['price'].str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype(float)

<ipython-input-13-5d0449953ade>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  totals_avg_df['price'] = totals_avg_df['price'].str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype(float)

In [ ]:
averages_by_building = totals_avg_df.groupby('building').mean()

In [ ]:
# Display the results
print("Total Properties Sold and Mortgaged by Building Type:")
print(totals_by_building)

print("\nAverage Area, Price, and Deal Satisfaction by Building Type:")
print(averages_by_building)

Total Properties Sold and Mortgaged by Building Type:
                                                      price  mortgage
building
1         $117,564.07 $410,932.67 $229,464.71 $377,313.5...        20
2         $219,373.41 $214,341.34 $306,363.64 $225,050.5...        21
3         $245,572.79 $207,281.59 $215,774.28 $231,552.3...        25
4         $217,786.38 $263,790.81 $236,608.95 $200,678.7...        29
5         $240,539.35 $261,742.74 $195,874.94 $357,538.2...        39

Average Area, Price, and Deal Satisfaction by Building Type:
                area          price  deal_satisfaction
building
1         928.038846  275143.242500           3.673077
2         943.891930  286661.848246           3.543860
3         927.852381  280451.255556           3.634921
4         974.720930  290239.515581           3.930233
5         914.298654  274557.604615           3.826923

Breakdown by Country

In [ ]:
print(data['country'].unique())

[7 0 5 2 1 4 6 3]

In [ ]:
# Select columns of interest
totals_columns = ['country', 'price', 'mortgage']

In [ ]:
country_totals_df = data[totals_columns]

In [ ]:
totals_by_county = country_totals_df.groupby('country').sum()

In [ ]:
totals_avg = ['country','area','price','deal_satisfaction']

In [ ]:
country_avg_df = data[totals_avg].copy()

In [ ]:
# Display the results
print("Total Properties Sold and Mortgaged by Country:")
print(totals_by_county)
print("Averages by Country:")

Total Properties Sold and Mortgaged by Country:
                                                     price  mortgage
country
0                                 $215,410.28 $242,740.66          0
1        $356,506.37 $177,555.06 $484,458.03 $197,869.3...         0
2                                             $257,183.48          0
3                                             $205,098.21          0
4                                             $338,181.18          0
5         $261,579.89 $248,274.31 $289,727.99 $315,733.15          1
6                                 $226,342.80 $213,942.56          0
7        $117,564.07 $410,932.67 $229,464.71 $377,313.5...       133
Averages by Country:

Breakdown by State

In [ ]:
print(data['state'].unique())

[1 4 7 5 8 6 0 2 9 3]

In [ ]:
# Select columns of interest
totals_columns = ['state', 'price', 'mortgage']

In [ ]:
# Create totals DataFrame
state_totals_df = data[totals_columns]

In [ ]:
# Group totals by state and aggregate
totals_by_state = state_totals_df.groupby('state').sum()

In [ ]:
# Display the results
print("Total Properties Sold and Mortgaged by State:")
print(totals_by_state)

Total Properties Sold and Mortgaged by State:
                                                   price  mortgage
state
0      $193,660.62 $265,467.68 $293,876.27 $261,742.7...         3
1      $117,564.07 $410,932.67 $229,464.71 $377,313.5...       113
2      $196,142.19 $229,581.78 $344,568.74 $237,060.1...         5
3                                           $252,185.99          0
4      $412,856.56 $238,811.06 $264,142.16 $317,196.4...         8
5      $317,473.86 $224,463.87 $214,631.68 $195,153.1...         1
6      $215,410.28 $261,579.89 $257,183.48 $248,274.3...         1
7      $218,585.92 $214,341.34 $153,466.71 $200,300.6...         1
8       $208,930.81 $212,520.83 $203,491.85 $235,633.26          2
9                                           $204,286.67          0

In [ ]:
# Select columns of interest
average_columns = ['state','area' ,'price', 'deal_satisfaction']

In [ ]:
# Create totals DataFrame
state_avg_df = data[average_columns]

In [ ]:
state_avg_df['price'] = state_avg_df['price'].str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype(float)

<ipython-input-39-3013ed69bdad>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  state_avg_df['price'] = state_avg_df['price'].str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype(float)

In [ ]:
# Group totals by state and aggregate
averages_by_state = state_avg_df.groupby('state').mean()

In [ ]:
# Display the results
print("Averages by State:")
print(averages_by_state)

Averages by State:
             area          price  deal_satisfaction
state
0      841.627273  259526.946364           3.363636
1      971.615885  291535.662760           3.843750
2      777.010909  233662.461818           3.181818
3      923.210000  252185.990000           3.000000
4      921.692941  277649.329412           3.235294
5      766.954545  236593.322727           3.090909
6      920.563571  274612.569286           3.642857
7      814.986000  237755.280000           3.200000
8      730.712500  215144.187500           4.500000
9      701.660000  204286.670000           3.000000

In [ ]:
# Frequency distribution by state
frequency_by_state = data['state'].value_counts().reset_index()
frequency_by_state.columns = ['state', 'frequency']

In [ ]:
# Relative frequency by state
total_properties = len(data)
frequency_by_state['relative_frequency'] = frequency_by_state['frequency'] / total_properties

In [ ]:
# Cumulative frequency by state
frequency_by_state['cumulative_frequency'] = frequency_by_state['frequency'].cumsum()

In [ ]:
# Display the results
print("Frequency by State:")
print(frequency_by_state)

# Save the results to a CSV file, if needed
frequency_by_state.to_csv('frequency_by_state.csv', index=False)

Frequency by State:
   state  frequency  relative_frequency  cumulative_frequency
0      1        192            0.719101                   192
1      4         17            0.063670                   209
2      6         14            0.052434                   223
3      5         11            0.041199                   234
4      0         11            0.041199                   245
5      2         11            0.041199                   256
6      7          5            0.018727                   261
7      8          4            0.014981                   265
8      9          1            0.003745                   266
9      3          1            0.003745                   267